body {
    margin: 0;
    background-color: white;
    min-height: 100% !important;
    overflow: auto;
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.rz-navigation-item-link {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.rz-navigation-item-icon-children {
    display: none !important;
}

.page, .content, .rz-tabview {
    height: 100%;
}

@media (max-width: 768px) {
    .rz-menu:not(.rz-profile-menu) .rz-menu-toggle-item {
        display: none !important;
    }

    .rz-menu.rz-menu-closed:not(.rz-profile-menu) .rz-navigation-item {
        display: block !important;
    }
}
